<template>
    <v-container>
        <v-row v-for="(coordinate, index) in coordinates" :key="index">
            <v-col>
                <CoordinateInput :coordinate="coordinate"/>
            </v-col>
        </v-row>
        <v-btn class="mx-2" fab dark color="indigo" @click="addButtons">
            <v-icon dark>mdi-plus</v-icon>
        </v-btn>

        <v-btn dark color="indigo" lass="mx-2" @click="sendData">
            <v-icon>mdi-send</v-icon>
        </v-btn>
        <v-text-field v-model="title" label="Название"></v-text-field>

        <div class="my-10">
            <PlotlyContour :chart="chartData" v-if="chartData"/>
        </div>
    </v-container>
</template>

<script>
    import axios from 'axios';

    import CoordinateInput from "./CoordinateInput";
    import PlotlyContour from "./PlotlyContour";

    export default {
        name: "ChartCreation",
        components: {PlotlyContour, CoordinateInput},
        data: () => ({
            title: null,
            coordinates: [
                {
                    coordinate_x: null,
                    coordinate_y: null,
                    value: null
                },
            ],
            chartData: null
        }),
        methods: {
            addButtons() {
                this.coordinates.push(
                    {
                        coordinate_x: null,
                        coordinate_y: null,
                        value: null
                    },
                )
            },
            sendData() {
                const self = this;
                //eslint-disable-next-line
                console.log('sending', this.coordinates);
                axios.post('rooms/', {
                    "title": this.title,
                    "coordinates": this.coordinates
                })
                    .then(function (response) {
                        self.chartData = response.data.set_coordinates
                    })
            }
        }
    }
</script>

<style scoped>

</style>