<template>
    <Plotly :data="data" :display-mode-bar="true"></Plotly>
</template>

<script>
    import {Plotly} from 'vue-plotly'

    export default {
        name: "PlotlyContour",
        components: {
            Plotly
        },
        props: {
            chart: {
                required: true
            }
        },
        watch: {
            chart: function (newVal) {
                this.data[0].z = newVal
            }
        },
        data: function () {
            return {
                data: [{
                    z: this.chart,
                    type: 'contour',
                    contours: {
                        coloring: 'heatmap',
                        showlabels: true,
                        labelfont: {
                            size: 12,
                            color: 'white',
                        }
                    },
                    connectgaps: true,
                    showlabels: true,
                    colorbar: {
                        dtick: 2,
                        tickwidth: 1,
                        xpad: 40
                    },
                }],
            }
        }
    }
</script>

<style scoped>

</style>