<template>
  <v-app id="inspire">

    <v-app-bar
            app
            color="indigo"
            dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Heatmap</v-toolbar-title>

      <template v-slot:extension>
        <v-tabs
                background-color="transparent"
                fixed-tabs
                slider-color="white"
        >
          <v-tab key="tab-1" to="/">Исследование</v-tab>
          <v-tab key="tab-2" to="/history">История</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>

    <v-footer
            color="indigo"
            app
    >
      <span class="white--text">&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {},

  data: () => ({}),
};
</script>
